.outer-paper {
    width: 90%;
    padding-bottom: 20px;
    margin: 100px auto;
    padding: 20px; 
}
.card {
    display: flex;
    flex-direction: row;
    
}
.left-card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-bottom: 20px;
}
.left-card img {
    width: 180px;
    height: 180px
}
.right-card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-bottom: 30px;
    margin-right: 10px
}
.radio {
    margin: !2px 7px 7px 7px;
}
span {
    letter-spacing: 1.2px;
    padding-left: 7px
}
.header-content {
    margin-left:80px;
    margin-top: 20px
}
.input {
    width: 180%;
    height: 150px;
    margin-left: 80px 
}
.bottom-navigation {
    display: flex;
    justify-content: space-between;
    margin: 10px
}